<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".apk" mimeType="applicationnd/vnd.android.package-archive" />
            <mimeMap fileExtension=".ipa" mimeType="application/iphone" />
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="start.html" />
                <add value="Default.php" />
                <add value="Index.php" />
                <add value="Default.htm" />
                <add value="index.htm" />
                <add value="Default.asp" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
