.ui-icon-loading {
	background:
		url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif")
		repeat scroll 0 0/46px 46px transparent !important;
}

.ui-content.Screen1_mobilecontainer {
	padding: 15px 15px 15px 15px;
}

.Screen1_mobilelabel_74 {
	text-decoration: none;
	font-weight: normal;
	font-style: italic;
	color: #de0d0d;
	text-align: left;
	font-family: Georgia;
	font-size: 26px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegrid_16 {
	height: auto;
	width: 100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}

.Screen1_mobilegrid_16>tr>td {
	vertical-align: top;
}

.Screen1_mobilegrid_16_row_0,.Screen1_mobilegrid_16_row_0>td {
	height: 30px
}

.Screen1_mobilegrid_16_row_1,.Screen1_mobilegrid_16_row_1>td {
	height: 30px
}

.Screen1_mobilegrid_16_row_2,.Screen1_mobilegrid_16_row_2>td {
	height: 30px
}

.Screen1_mobilegrid_16_row_3,.Screen1_mobilegrid_16_row_3>td {
	height: 30px
}

.Screen1_mobilegrid_16_row_4,.Screen1_mobilegrid_16_row_4>td {
	height: 30px
}

.Screen1_mobilegrid_16_row_5,.Screen1_mobilegrid_16_row_5>td {
	height: 30px
}

.Screen1_mobilegridcell_17 {
	/* height: 30px !important;
	width: 143px;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_17>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_86 {
	text-decoration: none;
	font-weight: normal;
	color: #e04631;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
	
	
}

.Screen1_mobilegridcell_44 {
/* 	height: 30px !important;
	width: auto;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
		height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_44>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_88 {
	text-decoration: none;
	font-weight: normal;
	color: #e04631;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegridcell_19 {
	/* height: 30px !important;
	width: 143px;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_19>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_75 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegridcell_47 {
	/* height: 30px !important;
	width: auto;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_47>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_85 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegridcell_36 {
	/* height: 30px !important;
	width: 143px;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_36>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_76 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegridcell_50 {
	/* height: 30px !important;
	width: auto;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_50>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_90 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegridcell_37 {
/* 	height: 30px !important;
	width: 143px;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_37>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_77 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegridcell_53 {
/* 	height: 30px !important;
	width: auto;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_53>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_92 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegridcell_38 {
	/* height: 29px !important;
	width: 143px;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_38>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_78 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegridcell_56 {
	/* height: 29px !important;
	width: auto;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_56>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_94 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegridcell_82 {
	/* height: 30px !important;
	width: 143px;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_82>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_79 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegridcell_83 {
/* 	height: 30px !important;
	width: auto;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_83>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_96 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilelabel_97 {
	text-decoration: none;
	font-weight: normal;
	font-style: italic;
	color: #de0d0d;
	text-align: left;
	font-family: Georgia;
	font-size: 26px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegrid_98 {
	height: auto;
	width: 100%;
	margin: 0px 0px 0px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}

.Screen1_mobilegrid_98>tr>td {
	vertical-align: top;
}

.Screen1_mobilegrid_98_row_0,.Screen1_mobilegrid_98_row_0>td {
	height: 30px
}

.Screen1_mobilegridcell_99 {
	/* height: 30px !important;
	width: 144px;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_99>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_107 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilegridcell_100 {
	/* height: 30px !important;
	width: auto;
	padding: 0px 0px 0px 0px;
	border-color: #000000;
	border-width: 1px;
	border-style: solid; */
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
	border-color: #000000; border-width: 2px; border-style: solid;
}

.Screen1_mobilegridcell_100>.cell-wrapper {
	padding: 0;
	margin: 0;
}

.Screen1_mobilelabel_105 {
	text-decoration: none;
	font-weight: normal;
	text-align: center;
	font-family: Helvetica;
	font-size: 24px;
	margin: 0px 0px 0px 0px;
	word-wrap: break-word;
	white-space: normal;
}

.Screen1_mobilefooter {
	min-height: 38px;
}